
.vs/VideoTools/v16/Browse.VC.db
.vs/VideoTools/v16/Browse.VC.db-shm
.vs/VideoTools/v16/Browse.VC.db-wal
.vs/VideoTools/v16/Browse.VC.opendb
.vs/VideoTools/v16/ipch/AutoPCH/11b0b8acec8b2247/CAUDIODECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/395b4580dde6e64f/MAIN.ipch
.vs/VideoTools/v16/ipch/AutoPCH/4a72d1609d700cbc/CVIDEODECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/58afd218cd6e6e24/CVIDEODECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/6dd576a7bd7cd5d3/HLPLAYER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/7cb0ceb9da71dfe0/CPLAYER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/9d13e00f6b47597f/CAUDIODECODER.ipch
.vs/VideoTools/v16/Solution.VC.db
.vs/VideoTools/v16/.suo
HLPlayer/x64/Debug/CAudioDecoder.obj
HLPlayer/x64/Debug/CPlayer.obj
HLPlayer/x64/Debug/CVideoDecoder.obj
HLPlayer/x64/Debug/HLPlayer.exe.recipe
HLPlayer/x64/Debug/HLPlayer.log
HLPlayer/x64/Debug/HLPlayer.obj
HLPlayer/x64/Debug/HLPlayer.tlog/CL.command.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/CL.read.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/CL.write.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/HLPlayer.lastbuildstate
HLPlayer/x64/Debug/HLPlayer.tlog/HLPlayer.write.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/link.command.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/link.read.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/link.write.1.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/moc.read.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/moc.write.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/rcc.read.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/rcc.write.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/uic.read.1u.tlog
HLPlayer/x64/Debug/HLPlayer.tlog/uic.write.1u.tlog
HLPlayer/x64/Debug/main.obj
HLPlayer/x64/Debug/moc/moc_HLPlayer.cpp
HLPlayer/x64/Debug/moc_HLPlayer.obj
HLPlayer/x64/Debug/qmake/qtvars_x64_Debug.props
HLPlayer/x64/Debug/qmake/temp/.qmake.stash
HLPlayer/x64/Debug/qmake/temp/F0125A0E-E933-491F-A224-E52651F6430D.HLPlayer.designtime.idx
HLPlayer/x64/Debug/qmake/temp/Makefile
HLPlayer/x64/Debug/qmake/temp/props.txt
HLPlayer/x64/Debug/qmake/temp/qtvars.log
HLPlayer/x64/Debug/qmake/temp/qtvars.pro
HLPlayer/x64/Debug/qmake/temp/qtvars_x64_Debug.props
HLPlayer/x64/Debug/qrc_HLPlayer.obj
HLPlayer/x64/Debug/qt_work.log
HLPlayer/x64/Debug/rcc/qrc_HLPlayer.cpp
HLPlayer/x64/Debug/uic/ui_HLPlayer.h
HLPlayer/x64/Debug/vc142.pdb
HLPlayer/x64/Release/HLPlayer.tlog/HLPlayer.write.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/moc.read.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/moc.write.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/rcc.read.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/rcc.write.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/uic.read.1u.tlog
HLPlayer/x64/Release/HLPlayer.tlog/uic.write.1u.tlog
HLPlayer/x64/Release/moc/moc_HLPlayer.cpp
HLPlayer/x64/Release/qmake/qtvars_x64_Release.props
HLPlayer/x64/Release/qmake/temp/.qmake.stash
HLPlayer/x64/Release/qmake/temp/F0125A0E-E933-491F-A224-E52651F6430D.HLPlayer.designtime.idx
HLPlayer/x64/Release/qmake/temp/Makefile
HLPlayer/x64/Release/qmake/temp/props.txt
HLPlayer/x64/Release/qmake/temp/qtvars.log
HLPlayer/x64/Release/qmake/temp/qtvars.pro
HLPlayer/x64/Release/qmake/temp/qtvars_x64_Release.props
HLPlayer/x64/Release/qt_work.log
HLPlayer/x64/Release/rcc/qrc_HLPlayer.cpp
HLPlayer/x64/Release/uic/ui_HLPlayer.h
*.exe
x64/Debug/HLPlayer.ilk
x64/Debug/HLPlayer.pdb
.vs/VideoTools/v16/ipch/AutoPCH/d6f88ef75a511c4c/CVIDEODECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/a4701483ce9674ec/DECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/a1046255b6d4ffb0/CPLAYER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/64255e0086abe8cf/CAUDIODECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/4c097c1d2d0d09d0/DECODER.ipch
.vs/VideoTools/v16/ipch/AutoPCH/350249e9720bb481/SAFEQUEUE.ipch
.vs/VideoTools/v16/ipch/AutoPCH/22c30fdb92ec4903/HLPLAYER.ipch
HLPlayer/x64/Debug/decoder.obj
.vs/VideoTools/v16/ipch/AutoPCH/a7e60bcad3dc428b/AVSYNC.ipch
HLPlayer/x64/Debug/HLPlayer.Build.CppClean.log
HLPlayer/x64/Debug/HLPlayer.vcxproj.FileListAbsolute.txt
.vs/VideoTools/v16/ipch/AutoPCH/e2cf4d5f71fa18c3/AVSYNC.ipch
.vs/VideoTools/v16/ipch/AutoPCH/a3068659566c8829/HLCAPTURE.ipch
*.obj
*.tlog
*.log
*.props
*.idx
*.txt
HLCapture/x64/Debug/qmake/temp/Makefile
*.pro
*.recipe
x64/Debug/HLCapture.pdb
x64/Debug/HLCapture.ilk
HLCapture/x64/Release/qmake/temp/Makefile
HLCapture/x64/Release/qmake/temp/.qmake.stash
HLCapture/x64/Release/moc/moc_hlcapture.cpp
HLCapture/x64/Debug/vc142.pdb
HLCapture/x64/Debug/uic/ui_hlcapture.h
HLCapture/x64/Debug/rcc/qrc_hlcapture.cpp
HLCapture/x64/Debug/qmake/temp/.qmake.stash
HLCapture/x64/Debug/moc/moc_hlcapture.cpp
HLCapture/x64/Release/rcc/qrc_hlcapture.cpp
HLCapture/x64/Release/uic/ui_hlcapture.h
.vs/VideoTools/v16/ipch/AutoPCH/a5c125226c78458c/CAPTUREVIEWWIDGET.ipch
.vs/VideoTools/v16/Solution.VC.db-wal
.vs/VideoTools/v16/Solution.VC.db-shm
.vs/VideoTools/v16/ipch/AutoPCH/718e8d3e8086b97c/MOC_CAPTUREVIEWWIDGET.ipch
.vs/VideoTools/v16/ipch/AutoPCH/57e30b7e9dacf82b/HLCAPTURE.ipch
.vs/VideoTools/v16/ipch/AutoPCH/2e81ab9ecdf3a816/CAPTUREVIEWWIDGET.ipch
*.ipch
x64/Debug/HLAVTools.pdb
x64/Debug/HLAVTools.ilk
HLPlayer/HLPlayer.vcxproj.user
HLCapture/x64/Release/uic/ui_AVMainWnd.h
HLCapture/x64/Release/moc/moc_CaptureViewWidget.cpp
HLCapture/x64/Release/moc/moc_AVMainWnd.cpp
HLCapture/x64/Debug/uic/ui_AVMainWnd.h
HLCapture/x64/Debug/moc/moc_AVMainWnd.cpp
audioRecoder/x64/Debug/audioRecoder.ilk
audioRecoder/x64/Debug/vc142.idb
audioRecoder/x64/Debug/vc142.pdb
x64/Debug/audioRecoder.pdb
VideoTools/x64/Debug/moc/moc_AVMainWnd.cpp
VideoTools/x64/Debug/moc/moc_CaptureViewWidget.cpp
VideoTools/x64/Debug/moc/moc_hlcapture.cpp
VideoTools/x64/Debug/qmake/temp/.qmake.stash
VideoTools/x64/Debug/qmake/temp/Makefile
VideoTools/x64/Debug/rcc/qrc_avtools.cpp
VideoTools/x64/Debug/rcc/qrc_hlcapture.cpp
VideoTools/x64/Debug/uic/ui_AVMainWnd.h
VideoTools/x64/Debug/uic/ui_hlcapture.h
VideoTools/x64/Debug/vc142.pdb
VideoTools/x64/Release/moc/moc_AVMainWnd.cpp
VideoTools/x64/Release/moc/moc_CaptureViewWidget.cpp
VideoTools/x64/Release/moc/moc_hlcapture.cpp
VideoTools/x64/Release/qmake/temp/.qmake.stash
VideoTools/x64/Release/qmake/temp/Makefile
VideoTools/x64/Release/rcc/qrc_avtools.cpp
VideoTools/x64/Release/rcc/qrc_hlcapture.cpp
VideoTools/x64/Release/uic/ui_AVMainWnd.h
VideoTools/x64/Release/uic/ui_hlcapture.h
x64/Debug/audioRecoder.ilk
VideoTools/x64/Debug/moc/moc_CompositeView.cpp
VideoTools/x64/Debug/uic/ui_CompositeView.h
VideoTools/x64/Release/moc/moc_CompositeView.cpp
VideoTools/x64/Release/uic/ui_CompositeView.h
VideoTools/x64/Debug/moc/moc_AVTextureBar.cpp
VideoTools/x64/Release/moc/moc_AVTextureBar.cpp
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/Makefile.Release
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/Makefile.Debug
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/Makefile
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/debug/qrc_HLPlayer.cpp
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/debug/moc_predefs.h
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/debug/moc_HLPlayer.cpp
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/debug/HLPlayer.vc.pdb
build-HLPlayer-Desktop_Qt_5_12_10_MSVC2015_64bit-Debug/.qmake.stash
VideoTools/x64/Debug/qmake/temp/moc_predefs.h.cbt
VideoTools/x64/Debug/qmake/temp/qtvars.vcxproj
VideoTools/x64/Debug/qmake/temp/qtvars.vcxproj.filters
VideoTools/x64/Debug/qt.natvis
.vs/VideoTools/FileContentIndex/f19d4268-e409-493a-8560-8077d89421b1.vsidx
.vs/VideoTools/FileContentIndex/read.lock
.vs/VideoTools/v17/.suo
.vs/VideoTools/v17/Browse.VC.db
.vs/VideoTools/v17/Browse.VC.db-shm
.vs/VideoTools/v17/Browse.VC.db-wal
.vs/VideoTools/v17/Browse.VC.opendb
.vs/VideoTools/v17/Solution.VC.db
.vs/VideoTools/v17/Solution.VC.db-shm
.vs/VideoTools/v17/Solution.VC.db-wal
.vs/VideoTools/FileContentIndex/5c03b673-fe31-48da-88bc-b58bc91341f8.vsidx
.vs/VideoTools/FileContentIndex/0c261150-042e-43ce-a663-2977baccf48c.vsidx
.vs/VideoTools/FileContentIndex/0a366fa5-5c53-44b1-ae24-18276575ba1b.vsidx
TutorialDemo/x64/Debug/TutorialDemo.ilk
TutorialDemo/x64/Debug/vc143.idb
TutorialDemo/x64/Debug/vc143.pdb
x64/Debug/TutorialDemo.pdb
HLPlayer/x64/Debug/vc143.pdb
audioRecoder/x64/Debug/vc143.pdb
audioRecoder/x64/Debug/vc143.idb
.vs/VideoTools/FileContentIndex/9f8945dd-4db7-46b5-b664-0c9885109128.vsidx
.vs/VideoTools/FileContentIndex/6f591f68-a5ef-4058-b7db-426134c15f50.vsidx
.vs/VideoTools/FileContentIndex/601925bc-aabd-448d-9309-bc676cceed40.vsidx
VideoTools/x64/Debug/vc143.pdb
bin/x64/scale_test.yuv
.vs/VideoTools/v17/fileList.bin
.vs/VideoTools/FileContentIndex/f1ec5353-a42d-46c6-8784-8c66eeb011c7.vsidx
.vs/VideoTools/FileContentIndex/8eb53000-a71d-4938-ba3f-5bdb1d69f10a.vsidx
.vs/VideoTools/FileContentIndex/61621edd-2a8e-438b-ba48-1c9d4dd9a078.vsidx
.vs/VideoTools/FileContentIndex/b83e7259-ad93-44e5-8ae6-07eb3b399c0c.vsidx
.vs/VideoTools/FileContentIndex/9b6aaa67-89eb-4550-a1af-23fed80e9aa2.vsidx
.vs/VideoTools/FileContentIndex/6a6d93df-b6d1-4483-af1b-4053d37db847.vsidx
bin/x64/output.aac
.vs/VideoTools/FileContentIndex/a568f245-abc0-4994-926f-123bcfdb65f6.vsidx
.vs/VideoTools/FileContentIndex/63fe6d9f-d2c6-4f6a-8d7d-8c461887dc78.vsidx
.vs/VideoTools/FileContentIndex/4716434c-7e7f-4272-9acb-163c38cbc6b0.vsidx
.vs/VideoTools/FileContentIndex/e46feb9b-477b-4966-bb7a-e97f887ad5df.vsidx
.vs/VideoTools/FileContentIndex/1ec30d08-82e9-4af9-9c81-b9f0e0573caa.vsidx
enc_temp_folder/f9ba735c86d1da1ec7429741825e27c2/demos.h
enc_temp_folder/589a67a639d4c8f518d316bdc183de/demos.cpp
.vs/VideoTools/FileContentIndex/d392328f-f039-463b-a4aa-423df9f2ee27.vsidx
.vs/VideoTools/FileContentIndex/1b317221-59ea-4ee7-8f48-f3295c5932dc.vsidx
*.cbt
VideoTools/x64/Release/qmake/temp/qtvars.vcxproj
VideoTools/x64/Release/qmake/temp/qtvars.vcxproj.filters
x64/Debug/Debug.rar
x64/Debug/Debug/avcodec-58.dll
x64/Debug/Debug/avdevice-58.dll
x64/Debug/Debug/avfilter-7.dll
x64/Debug/Debug/avformat-58.dll
x64/Debug/Debug/avutil-56.dll
x64/Debug/Debug/D3Dcompiler_47.dll
x64/Debug/Debug/iconengines/qsvgicond.dll
x64/Debug/Debug/imageformats/qgifd.dll
x64/Debug/Debug/imageformats/qicnsd.dll
x64/Debug/Debug/imageformats/qicod.dll
x64/Debug/Debug/imageformats/qjpegd.dll
x64/Debug/Debug/imageformats/qsvgd.dll
x64/Debug/Debug/imageformats/qtgad.dll
x64/Debug/Debug/imageformats/qtiffd.dll
x64/Debug/Debug/imageformats/qwbmpd.dll
x64/Debug/Debug/imageformats/qwebpd.dll
x64/Debug/Debug/libEGLd.dll
x64/Debug/Debug/libGLESV2d.dll
x64/Debug/Debug/opengl32sw.dll
x64/Debug/Debug/platforms/qwindowsd.dll
x64/Debug/Debug/postproc-55.dll
x64/Debug/Debug/Qt5Cored.dll
x64/Debug/Debug/Qt5Guid.dll
x64/Debug/Debug/Qt5Svgd.dll
x64/Debug/Debug/Qt5Widgetsd.dll
x64/Debug/Debug/SDL2.dll
x64/Debug/Debug/styles/qwindowsvistastyled.dll
x64/Debug/Debug/swresample-3.dll
x64/Debug/Debug/swscale-5.dll
x64/Debug/Debug/translations/qt_ar.qm
x64/Debug/Debug/translations/qt_bg.qm
x64/Debug/Debug/translations/qt_ca.qm
x64/Debug/Debug/translations/qt_cs.qm
x64/Debug/Debug/translations/qt_da.qm
x64/Debug/Debug/translations/qt_de.qm
x64/Debug/Debug/translations/qt_en.qm
x64/Debug/Debug/translations/qt_es.qm
x64/Debug/Debug/translations/qt_fa.qm
x64/Debug/Debug/translations/qt_fi.qm
x64/Debug/Debug/translations/qt_fr.qm
x64/Debug/Debug/translations/qt_gd.qm
x64/Debug/Debug/translations/qt_he.qm
x64/Debug/Debug/translations/qt_hu.qm
x64/Debug/Debug/translations/qt_it.qm
x64/Debug/Debug/translations/qt_ja.qm
x64/Debug/Debug/translations/qt_ko.qm
x64/Debug/Debug/translations/qt_lv.qm
x64/Debug/Debug/translations/qt_nl.qm
x64/Debug/Debug/translations/qt_pl.qm
x64/Debug/Debug/translations/qt_pt_BR.qm
x64/Debug/Debug/translations/qt_ru.qm
x64/Debug/Debug/translations/qt_sk.qm
x64/Debug/Debug/translations/qt_uk.qm
x64/Debug/Debug/translations/qt_zh_CN.qm
x64/Debug/Debug/translations/qt_zh_TW.qm
.vs/VideoTools/FileContentIndex/c35be53c-5178-4293-a522-0bab6c260920.vsidx
.vs/VideoTools/FileContentIndex/8aee9e17-a166-4815-8fa1-ce953975b899.vsidx
.vs/VideoTools/FileContentIndex/73de4868-bf38-4483-91b9-d40528f85607.vsidx
.vs/VideoTools/FileContentIndex/21f30035-2280-47f0-9ae1-38fcb1839778.vsidx
.vs/VideoTools/FileContentIndex/0fa6ad23-bafd-4a5b-b9fd-921949061211.vsidx
.vs/VideoTools/FileContentIndex/028034dc-0db8-4407-9bb2-86b55e0234c0.vsidx
.vs/VideoTools/FileContentIndex/008c198e-6f90-41c1-aad2-8f1e08227d16.vsidx
HLPlayer/x64/Debug/qmake/temp/qtvars.vcxproj
bin/x64/Titan.pcm
bin/x64/Titan.aac
.vs/VideoTools/FileContentIndex/b7ccd5fc-901f-46b7-9673-5eda5eec1f5f.vsidx
.vs/VideoTools/FileContentIndex/95655cf0-0a4e-46d3-bfd2-3bc51dab4122.vsidx
.vs/VideoTools/FileContentIndex/5fb9e3fb-b950-4aad-a6d5-f3c29e2a6629.vsidx
HLPlayer/x64/Debug/qmake/temp/qtvars.vcxproj
.vs/VideoTools/FileContentIndex/06db9c4d-ed4f-4474-a996-66f7c9ccef51.vsidx
.vs/VideoTools/FileContentIndex/0810a11b-8779-499e-a97a-ffb4d09e1abd.vsidx
.vs/VideoTools/FileContentIndex/c4404f35-65d6-4dca-9c68-5c8bdca96849.vsidx
.vs/VideoTools/FileContentIndex/cdf3dfff-391b-4479-93b1-3855c2256da3.vsidx
.vs/VideoTools/FileContentIndex/e76889d6-2bc0-471c-92c0-779fb2f786b2.vsidx
.vs/VideoTools/FileContentIndex/5d0c5b46-09f6-4593-bbea-c77ed8000e99.vsidx
.vs/VideoTools/FileContentIndex/12d50e52-15c5-461a-80cc-f1c2ce470b7c.vsidx
VideoTools/x64/Debug/moc/moc_qaudioconversion.cpp
VideoTools/x64/Debug/moc/moc_qvideoconversion.cpp
VideoTools/x64/Debug/moc/moc_qvideoinfo.cpp
VideoTools/x64/Debug/uic/ui_qaudioconversion.h
VideoTools/x64/Debug/uic/ui_qvideoconversion.h
VideoTools/x64/Debug/uic/ui_qvideoinfo.h
VideoTools/x64/Release/moc/moc_qaudioconversion.cpp
VideoTools/x64/Release/moc/moc_qvideoconversion.cpp
VideoTools/x64/Release/moc/moc_qvideoinfo.cpp
VideoTools/x64/Release/uic/ui_qaudioconversion.h
VideoTools/x64/Release/uic/ui_qvideoconversion.h
VideoTools/x64/Release/uic/ui_qvideoinfo.h
.vs/VideoTools/FileContentIndex/a5d5fa6c-4eef-4138-8c94-d67270351ed3.vsidx
.vs/VideoTools/FileContentIndex/cd2d324d-cf8c-4fee-a12c-50f2e3517fea.vsidx
x64/Debug/TutorialDemo.exp
x64/Debug/TutorialDemo.lib
.vs/VideoTools/FileContentIndex/f6d39d77-f06e-4312-8b88-33fafd541215.vsidx
.vs/VideoTools/FileContentIndex/aadead9f-3112-4a9d-8dea-6ade0347d03f.vsidx
.vs/VideoTools/FileContentIndex/057bdbc5-d3f9-41a7-89ce-e391321ba289.vsidx
bin/x64/output.mkv
.vs/VideoTools/FileContentIndex/8da07880-c948-449b-b05e-8ad55c7f1cfc.vsidx
.vs/VideoTools/FileContentIndex/69e91165-43bb-4e44-86bc-cce1e4e7b61d.vsidx
.vs/VideoTools/FileContentIndex/4169383e-0905-480f-9466-03e6918f7ac5.vsidx
.vs/VideoTools/FileContentIndex/25172200-8f50-4ea0-8043-a238b1ec496d.vsidx
VideoTools/x64/Release/moc/moc_AVTools.cpp
bin/x64/output.flv
.vs/VideoTools/FileContentIndex/89bcd51b-648e-474a-9e05-a4d1a697fb23.vsidx
.vs/VideoTools/FileContentIndex/75fe4a11-93a7-41da-a448-2afc0ad1a0c8.vsidx
.vs/VideoTools/FileContentIndex/3e643874-4ce8-40c3-a1fa-4c2a5c631074.vsidx
.vs/VideoTools/FileContentIndex/0bfc8b53-1e57-43e8-9480-adcb2d970ed3.vsidx
.vs/VideoTools/FileContentIndex/febb1025-9019-48bb-a82b-00f52f0615fa.vsidx
.vs/VideoTools/FileContentIndex/f85ffc0c-19b0-421b-a415-2b306efcd469.vsidx
.vs/VideoTools/FileContentIndex/1ea8e5c0-b298-4c93-bd8c-6a7630fe968d.vsidx
.vs/VideoTools/FileContentIndex/18b0b3a3-b8d4-4dde-a7d2-6c0b6d7ceda7.vsidx
.vs/VideoTools/FileContentIndex/07446308-d8ca-4be3-8d93-e91362e04686.vsidx
.vs/VideoTools/FileContentIndex/10de5347-bd36-44de-8311-328ff610e772.vsidx
.vs/VideoTools/FileContentIndex/564d22b6-81fe-4a17-82b8-65ccfb84a8f5.vsidx
.vs/VideoTools/FileContentIndex/84726b1f-cc19-48ee-8b59-dca0ecb3181a.vsidx
.vs/VideoTools/FileContentIndex/abcb95e4-0767-466d-b4a5-6953d31b0b6d.vsidx
.vs/VideoTools/FileContentIndex/f612298f-d225-4a87-83d0-8bf2cb7c7286.vsidx
.vs/VideoTools/FileContentIndex/7d2be4f4-4693-4717-8ef2-99da64c7c5c2.vsidx
.vs/VideoTools/FileContentIndex/65d55864-b616-4545-971d-268b620d561e.vsidx
.vs/VideoTools/FileContentIndex/44825e14-c2c9-452f-adce-ab4f182245d7.vsidx
.vs/VideoTools/FileContentIndex/b2035aaa-47bd-4156-8417-ae4b7d81f5eb.vsidx
.vs/VideoTools/FileContentIndex/874843b6-e3ed-471a-bba9-5c755a1801c8.vsidx
.vs/VideoTools/FileContentIndex/52ba7763-a354-4d04-b2a7-74e5e03a8cda.vsidx
.vs/VideoTools/FileContentIndex/1625e12b-c3fc-4ea8-bcd8-4fd1492a3d7c.vsidx
.vs/VideoTools/FileContentIndex/d5dc60a8-5f59-4838-a720-5f064e136203.vsidx
.vs/VideoTools/FileContentIndex/b871e50c-3f55-4906-8382-a4dd071c582f.vsidx
.vs/VideoTools/FileContentIndex/6dd099e4-bba4-4bed-a4a0-b35705436972.vsidx
.vs/VideoTools/FileContentIndex/53231715-b146-4ab6-9836-a31328e23391.vsidx
x64/Debug/HLAVTools.exp
x64/Debug/HLAVTools.lib
x64/Debug/HLAVTools.exp
x64/Debug/HLAVTools.lib
x64/Debug/HLAVTools.lib
x64/Debug/HLAVTools.exp
x64/Release/HLAVTools.lib
x64/Release/HLAVTools.exp
.vs/VideoTools/FileContentIndex/71fa1627-21e1-4ddb-a8dc-cfa14bf21dc7.vsidx
.vs/VideoTools/FileContentIndex/2e4e4d39-52f9-41f9-9076-a125023129c0.vsidx
.vs/VideoTools/FileContentIndex/26a94e5a-dd50-457d-a9a0-195166de69dd.vsidx
.vs/VideoTools/FileContentIndex/1bc4b8a5-bcb3-4e75-b8be-a94da8385a8c.vsidx
.vs/VideoTools/FileContentIndex/723f1d3f-9557-4ee7-90ef-1c4f71bca636.vsidx
.vs/VideoTools/FileContentIndex/5b721717-edad-454c-8d51-b88ba44a09b2.vsidx
.vs/VideoTools/FileContentIndex/0b51657f-e828-43ae-914c-984bd083e4f3.vsidx
.vs/VideoTools/FileContentIndex/07c576a0-267c-4cbd-9b1c-fb29beb95136.vsidx
x64/Debug/HLAVTools.exp
x64/Debug/HLAVTools.lib
.vs/VideoTools/FileContentIndex/0daa715e-baf4-456e-98c9-21742233e241.vsidx
.vs/VideoTools/FileContentIndex/7034e325-5cdb-4120-a71c-a5c97b2c8f6a.vsidx
.vs/VideoTools/FileContentIndex/b46b0f5d-796e-402d-aaf5-d86c633d387b.vsidx
.vs/VideoTools/FileContentIndex/f75c0202-9906-42fb-83ad-6d898088e94c.vsidx
.vs/VideoTools/FileContentIndex/e4126e4b-796a-4a5b-8815-06ff00ce0908.vsidx
.vs/VideoTools/FileContentIndex/5a8a6646-ef2a-42ea-9faf-cd04f1ab368c.vsidx
.vs/VideoTools/FileContentIndex/062051ba-25b7-4004-a585-7afd185fb12b.vsidx
.vs/VideoTools/FileContentIndex/ee1459f9-3f73-48f4-b20a-057beb8999b6.vsidx
.vs/VideoTools/FileContentIndex/78b73cf2-7a1a-4aeb-911a-86edb4d22fc2.vsidx
.vs/VideoTools/FileContentIndex/71b4de44-0a80-46ff-9641-426769d8c3c9.vsidx
.vs/VideoTools/FileContentIndex/3bbfb894-8e57-4551-abcf-293f0224e980.vsidx
